{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "extension": [
        ".ts",
        ".tsx"
    ],
    "include": "src/**/*.{ts,tsx}",
    "exclude": [
        "src/**/*.{cy,unit}.{js,jsx,ts,tsx}"
    ]
}