@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    --primary-color: #0967D2;
    --font-metropolis: "metropolis";
}

:focus-visible {
    outline: var(--primary-color) auto 2px;
}

::selection {
    /* WebKit/Blink Browsers */
    background: var(--primary-color);
    color: white;
}

::-moz-selection {
    /* Gecko Browsers */
    background: var(--primary-color);
    color: white;
}

body {
    @apply tracking-wide
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Metropolis-Regular.woff2');
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Metropolis-Medium.woff2');
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Metropolis-Bold.woff2');
}